*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.landing-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}
.left{
    width: 50%;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20%;
    padding: 0 80px;
    background-color: #f5f5f5;
    position: relative;
    
}
.right{
    width: 50%;
    height: 100vh;
    
}

.left h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 600;
}
.h1-span{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 600;
    font-style: italic;
}
.left p{
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 400;
}
.left button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #d1abe8;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 200px;
    height: 50px;
}

video{
    width: 100%;
    height: 100vh;
}
.svg-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Add this line to ensure hidden parts come into view */
}

